* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #b3e0ff, #e3f9ff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #46525e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: #2c333d;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 36px;
    color: #fff;
    background: #2c333d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form input.equals {
    width: 145px;
    background: #ff7043;
    color: #fff;
    font-size: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

form input.equals:hover {
    background: #ff5722;
}
